@model SS.Models.HOUSE
<br />
@using (Html.BeginForm("RegistrationHouse", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data", id = "fm_house"}))
{
    <fieldset>
        <legend class="legend-headers">House Information</legend>
        <table class="table-condensed registration-form">
            <tr>
                <td>Property Street Address</td>
                <td>@Html.TextBoxFor(model => model.STREET_ADDRESS) @Html.ValidationMessageFor(model => model.STREET_ADDRESS)</td>
                <td>Property City</td>
                <td>@Html.TextBoxFor(model => model.CITY) @Html.ValidationMessageFor(model => model.CITY)</td>
                <td>Property Parish</td>
                <td>@Html.DropDownListFor(model => model.PARISH, Model.Parishes, "Select Parish") @Html.ValidationMessageFor(model => model.PARISH)</td>
            </tr>
            <tr>
                <td>Number of Bedrooms</td>
                <td>@Html.TextBoxFor(model => model.BED_ROOM_AMOUNT, new { @type = "number" }) @Html.ValidationMessageFor(model => model.BED_ROOM_AMOUNT)</td>
                <td>Number of Bathrooms</td>
                <td>@Html.TextBoxFor(model => model.BATH_ROOM_AMOUNT, new { @type = "number" }) @Html.ValidationMessageFor(model => model.BATH_ROOM_AMOUNT)</td>
                <td>Number of Living rooms</td>
                <td>@Html.TextBoxFor(model => model.LIVING_ROOM_AMOUNT, new { @type = "number" }) @Html.ValidationMessageFor(model => model.LIVING_ROOM_AMOUNT)</td>
            </tr>
            <tr>
                <td>Property Cost</td>
                <td>@Html.TextBoxFor(model => model.PRICE, new { @type = "number" }) @Html.ValidationMessageFor(model => model.PRICE)</td>
                <td>Purpose</td>
                <td>
                    @Html.RadioButtonFor(model => model.PURPOSE, "Sale") For Sale
                    @Html.RadioButtonFor(model => model.PURPOSE, "Rent") For Rent
                    @Html.ValidationMessageFor(model => model.PURPOSE)
                </td>
            </tr>
            <tr>
                <td>House Description</td>
                <td colspan="2">@Html.TextAreaFor(model => model.DESCRIPTION, 5, 40, null) @Html.ValidationMessageFor(model => model.DESCRIPTION)</td>
            </tr>
            <tr>
                <td colspan="2">Is The House Furnished ?</td>
                <td>
                    @Html.RadioButtonFor(model => model.ISFURNISHED, true) Yes
                    @Html.RadioButtonFor(model => model.ISFURNISHED, false) No
                    @Html.ValidationMessageFor(model => model.ISFURNISHED)
                </td>
            </tr>
            <tr>
                <td>Upload House Image</td>
                <td colspan="2"><input id="flPropertyPic" name="flPropertyPic" type="file" /></td>
            </tr>
        </table>
    </fieldset>
}
