@model SS.Models.LAND
<br />
@using (Html.BeginForm("RegistrationLand", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data", id = "fm_land" }))
{
    <fieldset>
        <legend class="legend-headers">Land Information</legend>
        <table class="table-condensed registration-form">
            <tr>
                <td>Property Street Address</td>
                <td>@Html.TextBoxFor(model => model.STREET_ADDRESS) @Html.ValidationMessageFor(model => model.STREET_ADDRESS)</td>
                <td>Property City</td>
                <td>@Html.TextBoxFor(model => model.CITY) @Html.ValidationMessageFor(model => model.CITY)</td>
                <td>Property Parish</td>
                <td>@Html.DropDownListFor(model => model.PARISH, Model.Parishes, "Select Parish") @Html.ValidationMessageFor(model => model.PARISH)</td>
            </tr>
            <tr>
                <td>Property Cost</td>
                <td>@Html.TextBoxFor(model => model.PRICE, new { @type = "number" }) @Html.ValidationMessageFor(model => model.PRICE)</td>
                <td>Purpose</td>
                <td colspan="2">
                    @Html.RadioButtonFor(model => model.PURPOSE, "Sale") For Sale
                    @Html.RadioButtonFor(model => model.PURPOSE, "Lease") For Lease
                    @Html.RadioButtonFor(model => model.PURPOSE, "Rent") For Rent
                    @Html.ValidationMessageFor(model => model.PURPOSE)
                </td>
            </tr>
            <tr>
                <td>Property Size (Acres)</td>
                <td>@Html.TextBoxFor(model => model.AREA, new { @type = "number" }) @Html.ValidationMessageFor(model => model.AREA)</td>
            </tr>
            <tr>
                <td>Description</td>
                <td colspan="2">@Html.TextAreaFor(model => model.DESCRIPTION, new { @cols = "33", @rows = "7" })</td>
            </tr>
            <tr>
                <td>Upload Land Image</td>
                <td colspan="2"><input id="flPropertyPic" name="flPropertyPic" type="file" /></td>
            </tr>
        </table>
    </fieldset>
}


