<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Maitree|Open+Sans|Slabo+27px" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://use.fontawesome.com/9172b7147e.js"></script>
    @RenderSection("pageCss", false)
</head>
<body>
    <div id="modal-loading">
        <span style="margin: 0 auto; display: block; width: 150px; margin-top: 30%; ">
            <img src="~/Content/ajax-loader.gif" />
        </span>
    </div>
    <div id="page-container">
        <div id="top-header"></div>
        <!--main heading area of the page-->
        <nav id="header" class="navbar navbar-expand-md navbar-light header-content">
            <div class="container">
                <button class="float-md-left navbar-toggler" type="button" data-toggle="collapse" data-target=".main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="logo">Jm<span style="color:#007bff;">Props</span></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="float-md-right navbar-toggler" type="button" data-toggle="collapse" data-target=".search-cntr" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <!--main menu list-->
                <div id="main-menu" class="collapse navbar-collapse main-menu">
                    <div class="navbar-nav mr-auto">
                        <a class="logo" href="~/">Jm<span style="color:#007bff;">Props</span></a>
                        <div>
                            <a href="~/" id="home"><i class="fa fa-globe fa-2x" aria-hidden="true"></i> Properties</a>
                        </div>
                        <div>
                            <a href="~/properties/getproperties?isStudentAccommodationCat=true&&propertycategory=RealEstate&Tags%5BFor+Student%5D=true" id="isStudentAccommodationCat"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i> Student Accommodations</a>
                        </div>
                        <div>
                            <a href="~/properties/getproperties?propertycategory=RealEstate" id="RealEstate"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Real Estates</a>
                        </div>
                        <div>
                            <a href="~/properties/getproperties?propertycategory=Lot" id="Lot"><i class="fa fa-map-o fa-2x" aria-hidden="true"></i> Lots</a>
                        </div>
                        <!--Temporary removal -->
                        <!--
                        <li>
                            <a href="~/properties/getproperties?propertycategory=Machinery" id="Machinery"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i> Machineries</a>
                        </li>
                        -->
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="sign-inout mr-0">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <div>@Html.ActionLink("Sign Out", "SignOut", "Accounts") </div>
                                <div><button class="btn btn-sm btn-outline-info" onclick="navigateToUrl('accounts/advertiseproperty')">My Dashboard</button></div>
                            }
                            else
                            {
                                <div>@Html.ActionLink("Sign In", "signin", "Accounts")</div>
                                <div><button class="btn btn-sm btn-outline-info" onclick="navigateToUrl('accounts/advertiseproperty')">Advertise</button></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="collapse navbar-collapse search-cntr">
                <div class="container">
                    <form action="~/Properties/GetProperties" method="get" id="search-properties-form">
                        <br />
                        <div id="jumbotron-container" class="jumbotron-container">
                            <div class="row" style="margin-bottom:15px;">
                                <div class="col-md-12">
                                    <div class="input-group" style="margin-bottom:5px;">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-sm btn-outline-secondary">
                                                <input type="radio" name="searchType" value="SearchTerm" id="searchType" autocomplete="off" checked> Search By Keyword
                                            </label>
                                            <label class="btn btn-sm btn-outline-secondary">
                                                <input type="radio" name="searchType" value="nearByPlaces" id="searchType" autocomplete="off"> Find Properties Near To Location
                                            </label>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" onclick="initAutocomplete('SearchTerm'); geolocate();" class="form-control" name="SearchTerm" id="SearchTerm" placeholder="" aria-label="" aria-describedby="basic-addon2" />
                                        <button class="btn btn-primary btn-search" type="submit">Search</button>
                                    </div>
                                </div>
                                <input id="coordinateLat" type="hidden" name="coordinateLat" />
                                <input id="coordinateLng" type="hidden" name="coordinateLng" />
                                <input type="hidden" id="queryString" value="@ViewContext.HttpContext.Request.QueryString" />
                            </div>
                            <div class="row">
                                <div class="col-md-12 search-filter-cntr">
                                    <div class="">
                                        <a href="#" id="search-filter-parish" class="search-filter" title="Parish">Parish</a>
                                        <div class="search-filter-popdown search-filter-parish">
                                            <div class="clear-border"></div>
                                            <div class="search-filter-popdown-content">
                                                <select onchange="appySearchFilterName(document.getElementById('search-filter-parish'), this);$('.btn-search').click();"
                                                        class="form-control" id="division" name="division">
                                                    <option selected value="">Select a parish</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--
            <div class="remove-filter-container">
                <div class="horizontal-separator"></div>
                <a onclick="removeSearchFilter(document.getElementById('search-filter-parish'), 'division', 'Parish',this);" class="remove-filter" aria-label="Remove Filter">
                    Remove
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>-->
                                    </div>
                                    <div class="">
                                        <a href="#" id="search-filter-property-type" class="search-filter" title="Property Type">Property Type</a>
                                        <div class="search-filter-popdown search-filter-property-type">
                                            <div class="clear-border"></div>
                                            <div class="search-filter-popdown-content">
                                                <select onchange="appySearchFilterName(document.getElementById('search-filter-property-type'), this);$('.btn-search').click();"
                                                        class=" form-control" id="PropertyType" name="PropertyType">
                                                    <option selected value="">Property Type</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <a href="#" id="search-filter-property-purpose" class="search-filter" title="Property Purpose">Property Purpose</a>
                                        <div class="search-filter-popdown search-filter-property-purpose">
                                            <div class="clear-border"></div>
                                            <div class="search-filter-popdown-content">
                                                <select onchange="appySearchFilterName(document.getElementById('search-filter-property-purpose'), this);$('.btn-search').click();"
                                                        class=" form-control" id="PropertyPurpose" name="PropertyPurpose">
                                                    <option selected value="">Property Purpose</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <a href="#" id="search-filter-property-price-range" class="search-filter" title="Price Range">Price Range</a>
                                        <div class="search-filter-popdown search-filter-property-price-range">
                                            <div class="clear-border"></div>
                                            <div class="search-filter-popdown-content">
                                                <div class="group-form-price-range">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend"><span class="input-group-text "><i class="fa fa-usd" aria-hidden="true"></i></span></span>
                                                        <input id="MinPrice" type="text" class="form-control" name="MinPrice" placeholder="Minimum Price">
                                                    </div>
                                                    <center>TO</center>
                                                    <div class="input-group">
                                                        <span class="input-group-prepend"><span class="input-group-text "><i class="fa fa-usd" aria-hidden="true"></i></span></span>
                                                        <input id="MaxPrice" type="text" class="form-control" name="MaxPrice" placeholder="Maximum Price">
                                                    </div>
                                                    <div class="horizontal-separator"></div>
                                                    <button type="button" id="price-range-add-btn" class="add-filter-btn btn btn-sm btn-outline-secondary"
                                                            style="float:right;" onclick="addFilterBtnClick(document.getElementById('search-filter-property-price-range'), document.getElementById('MinPrice').value, document.getElementById('MaxPrice').value, this);$('.btn-search').click();">
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <a href="#" id="search-filter-property-adtype" class="search-filter" title="Rent / Buy">Rent / Buy</a>
                                        <div class="search-filter-popdown search-filter-property-adtype">
                                            <div class="clear-border"></div>
                                            <label>@Html.RadioButton("rdoAdType", "Sale") Sale</label> |
                                            <label>@Html.RadioButton("rdoAdType", "Rent") Rent</label> |
                                            <label>@Html.RadioButton("rdoAdType", "Leased") Leased</label>
                                            <div class="horizontal-separator"></div>
                                            <button type="button" id="ad-type-add-btn" class="add-filter-btn btn btn-sm btn-outline-secondary" style="float:right;"
                                                    onclick="addFilterBtnClick(document.getElementById('search-filter-property-adtype'), document.querySelector('input[name=rdoAdType]:checked').value, null, this);$('.btn-search').click();">
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <!--------------Body Content--------------------

        <div class="jumbotron-container ad show">
            d
        </div>---->
        <div class="container">
            <div id="body">
                <!--
                <div class="row">
                    <div class="col-md-12">
                        <a href="~/advertisments/adspace"><div class="ctnr-headers" id="ad-placement">AD PLACEMENT</div></a>
                    </div>
                </div>
                    -->
                <div class="row">
                    <div class="col-md-9">
                        <div id="body-content">
                            @RenderBody()
                            <div id="map" style="display:none;"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <div class="advertisment-section">
                            AD Space
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------->
    <!-------------------Footer-------------------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <table>
                        <tr>
                            <td><a href="~/webinfo/contact">Contact Website Admin</a></td>
                            <td><a href="~/webinfo/howto">How To Use This Service</a></td>
                        </tr>
                        <tr>
                            <td><a href="~/webinfo/privacy">Privacy Policy</a></td>
                        </tr>
                        <tr>
                            <td><a href="~/webinfo/about">About Website</a></td>
                        </tr>
                    </table>
                    <hr />
                    <label>Disclaimer &copy;Jamprops.net</label>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------->
    <input type="hidden" id="_postBackInformation" value="@Json.Encode(ViewBag.searchViewModel)" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--main script removed and is now placed in each page <script src="~/Scripts/MainScript.js"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkscrDmY_ngoabLcmg6yJuAZio7-Tjf3w&libraries=places,geometry"></script>
    <script src="~/Scripts/GoogleMapJsScript.js"></script>
    @RenderSection("pageScriptSrc", false)
    <script type="text/javascript">
        @RenderSection("pageScript",false)
    </script>

</body>
</html>