<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
	<script type="text/javascript" script-name="advent-pro" src="http://use.edgefonts.net/advent-pro.js"></script>
	<link async href="http://fonts.googleapis.com/css?family=Arizonia" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://use.fontawesome.com/9172b7147e.js"></script>
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div id="modal-loading">
        <span style="margin: 0 auto; display: block; width: 150px; margin-top: 30%; ">
            <img src="~/Content/ajax-loader.gif" />
        </span>
    </div>
    <div id="page-container">
        <div id="top-header"></div>
        <nav id="header" class="navbar navbar-expand-md navbar-light header-content">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="logo">J<span style="color:#007bff;">Props</span></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--<div class="col-md-2">
                    logo placement
                    <div class="logo">
                        <a href="~/">JamProps</a>
                    </div>

                </div>-->
                <!--main menu list-->
                <div id="main-menu" class="collapse navbar-collapse main-menu">
                    <div class="navbar-nav mr-auto">
                        <a class="logo collapse-logo" href="~/">J<span style="color:#007bff;">Props</span></a>
                        <div>
                            <a id="dashboard" href="~/LandlordManagement/Dashboard">
                                <i class="fa fa-area-chart fa-2x" aria-hidden="true"></i> Dashboard
                            </a>
                        </div>
                        <div>
                            <a id="account" href="~/LandlordManagement/Account">
                                <i class="fa fa-cogs fa-2x" aria-hidden="true"></i> Account
                            </a>
                        </div>
                      <!--  <div>
                            <a href="~/LandlordManagement/Help" id="help">
                                <i class="fa fa-question fa-2x" aria-hidden="true"></i> Help
                            </a>
                        </div> REMOVED UNTIL IMPLEMENTED -->
                        <div>
                            <a id="contact" href="~/webinfo/contact">
                                <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i> Contact Website Admin
                            </a>
                        </div>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="sign-inout">
                            <div>
                                <a href="~/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i> Exit</a>
                            </div>
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <div>@Html.ActionLink("Sign Out", "SignOut", "Accounts") </div>
                            }
                            else
                            {
                                <div>@Html.ActionLink("Sign In", "signin", "Accounts")</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--------------Body Content------------------------>
        <div class="container">
            <div id="body">
                <div class="row">
                    <div class="col-md-9">
                        <br />
                        <!--retrieved is an ajax content-->
                        <div id="retrieved"></div>
                        @RenderBody()
                        <div id="map" style="display:none;"></div>
                    </div>
                    <!--<div class="col-md-3">
                        <div class="advertisment-section">
                            AD Space
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------->
    <!-------------------Footer-------------------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <table>
                        <tr>
                            <td><a href="~/webinfo/contact">Contact Website Admin</a></td>
                        </tr>
						<tr>
                           <!-- <td><a href="~/webinfo/privacy">Privacy Policy</a></td>-->
							<td><a href="~/webinfo/howto">How To Use This Service</a></td>
                        </tr>
                        <tr>
                            <td><a href="~/webinfo/about">About Website</a></td>
                        </tr>
                    </table>
                    <hr />
                    <label>Disclaimer &copy;JProps.net</label>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/ManagementScript.js"></script>
    <!--<script src="~/Scripts/PropertiesScript.js"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkscrDmY_ngoabLcmg6yJuAZio7-Tjf3w&libraries=places,geometry"></script>
    <script src="~/Scripts/GoogleMapJsScript.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        @RenderSection("pageScript",false)
    </script>
</body>
</html>
