@model SS.Models.REQUISITIONS
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="propertyModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                       <!-- <div class="modal-header">
                            
                            <div class="property-details ">
                            <div class="ctnr-headers"><label>Property Information</label></div>
                            <table class="table-condensed" style="width:100%">
                                <tr style="width:100%">
                                    <td>
                                        <div class="image-container">
                                            <img style="width: 180px; height: 180px;" id="" class="modal-image" src="" />
                                        </div>
                                    </td>
                                    <td style="width:100%">
                                        
                                    </td>
                                </tr>
                            </table>
                           </div>
                        </div>-->
                        <div class="modal-body">
                            <table class="table-responsive">
                                <tr style="width:100%">
                                    <td>
                                        <div class="image-container">
                                            <img style="width: 180px; height: 180px;" id="" class="modal-image" src="" />
                                        </div>
                                    </td>
                                    <td id="property-owner-det-details"><!--property owner information ajax content--></td>
                                    <td>
                                        @using (Html.BeginForm("RequestProperty", "Properties", FormMethod.Post))
                                        {
                                            <table id="personal-information" class="properties-table-style">
                                                <tr><th colspan="4">Request property</th></tr>
                                                <tr>
                                                    <td>First Name</td>
                                                    <td>@Html.TextBoxFor(model => model.FIRST_NAME, new { @required = true }) @Html.ValidationMessageFor(model => model.FIRST_NAME)</td>
                                                    <td>Last Name</td>
                                                    <td>@Html.TextBoxFor(model => model.LAST_NAME, new { @required = true }) @Html.ValidationMessageFor(model => model.LAST_NAME)</td>
                                                </tr>
                                                <tr>
                                                    <td>Gender</td>
                                                    <td colspan="4">
                                                        M @Html.RadioButtonFor(model => model.GENDER, "M", new { @required = true })
                                                        F @Html.RadioButtonFor(model => model.GENDER, "F", new { @required = true })
                                                        @Html.ValidationMessageFor(model => model.GENDER)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Cell Number</td>
                                                    <td>@Html.TextBoxFor(model => model.CELL, new { @required = true }) @Html.ValidationMessageFor(model => model.CELL)</td>
                                                    <td>Email</td>
                                                    <td>@Html.TextBoxFor(model => model.EMAIL, new { @required = true })</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" align="right"><input class="btn btn-warning" type="submit" value="Request Property" /></td>
                                                </tr>
                                            </table>
                                            @Html.Hidden("propertyID")
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div id="image-details">
                                <img class="ajax-load" style="display:none" src="~/Content/ajax-loader-dark.gif" />
                                <!--ajax content-->
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
