@model SS.Models.Owner
@using (Html.BeginForm("RegistrationLandlord", "Accounts", FormMethod.Post, new { id = "fm_owner" }))
{
    <fieldset>
        <legend class="legend-headers">Owner Information</legend>
        <table class="table-condensed registration-form ">
            <tr>
                <td>First Name</td>
                <td>@Html.TextBoxFor(model => model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)</td>
                <td>Last Name</td>
                <td>@Html.TextBoxFor(model => model.LastName) @Html.ValidationMessageFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td>Cell Number</td>
                <td>@Html.TextBoxFor(model => model.CellNum, new { @type = "number"}) @Html.ValidationMessageFor(model => model.CellNum)</td>
                <td>Email</td>
                <td><input type="email" /></td>
                <td>Username</td>
                <td>@Html.TextBoxFor(model => model.USERNAME) @Html.ValidationMessageFor(model => model.USERNAME)</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.PasswordFor(model => model.PASSWORD) @Html.ValidationMessageFor(model => model.PASSWORD)</td>
                <td>Confirm Password</td>
                <td>@Html.PasswordFor(model => model.PASSWORD_CONFIRMED) @Html.ValidationMessageFor(model => model.PASSWORD_CONFIRMED)</td>
                <td>
                    <button type="button" data-toggle="popover" title="Password and Confirm Password" data-content="The password and confirm password fields must be the same.">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Select Property Type</td>
                <td>
                    <input id="chkProperty" name="chkProperty" type="radio" value="Room" checked>Room
                    <input id="chkProperty" name="chkProperty" type="radio" value="House">House
                    <input id="chkProperty" name="chkProperty" type="radio" value="Land">Land
                </td>
            </tr>
        </table>
    </fieldset>
}
<script type="text/javascript">
    $(function () {
        //initialization of bootstrap popover
        $('[data-toggle="popover"]').popover({ trigger: 'hover click' });
    });
</script>