<div id="subscriptionChangeModalContainer" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="subscriptionChangeModal" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form id="form-change-subscription">
                            <div class="modal-header">
                                <div id="action-header">
                                    <span class="fa fa-address-book"></span> Change Subscription
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12" id="subscription-type">
                                        <div class="content-heading">Select the subscription type</div>
                                        @foreach (var subTypes in ViewBag.subscriptionTypes)
                                        {
                                            <a href="#" class="clickable-box-link" data-toggle="popover" data-content="@subTypes.Description">
                                                <div id="@subTypes.Name" class="clickable-box">@subTypes.Name - $<span class="monthly-cost">@subTypes.MonthlyCost</span> JMD Monthly</div>
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="custom-select" id="subscription-period-chg" disabled name="subscriptionperiod">
                                            <option selected disabled value="0">Subscription Period</option>
                                            <option value="1">1 Month</option>
                                 <!--           <option value="2">2 Months</option>
                                            <option value="3">3 Months</option>
                                            <option value="4">4 Months</option>
                                            <option value="5">5 Months</option>
                                            <option value="6">6 Months</option>
                                            <option value="7">7 Months</option>
                                            <option value="8">8 Months</option>
                                            <option value="9">9 Months</option>
                                            <option value="10">10 Months</option>-->
                                        </select>
                                    </div>
                                   <!-- <div class="col-md-6">
                                        <div id="chg-sub-fc" class="form-check hide">
                                            <input type="checkbox" id="chg-subscription-period" class="form-check-input" />
                                            <label class="form-check-label" for="chg-subscription-period">Change Subscription Period</label>
                                        </div>
                                        
                                    </div>-->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="chg-sub-price-container hide">
                                    Price | $
                                    <span id="chg-sub-price"></span>
                                </div>
                                <button id="change-subscription-btn" type="submit" class="btn btn-sm btn-outline-success">Change Subscription</button>
                                <span class="hide" id="clickedSubscriptionCost"></span>
                                <input type="hidden" id="activeSubscriptionCost" value="@ViewBag.currentSubType.MonthlyCost"/>
                                <input type="hidden" id="activeSubscriptionName" value="@ViewBag.currentSubType.Name" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

