@model List<SS.ViewModels.RequisitionViewModel>

<div class="ctnr-headers">Requisitions</div>
<div class="card">
    <div class="card-body">
        <div style="overflow-x:auto;">
            <div class="rTable">
                @{
                    int notAcceptedCount = 0;//keeps count of the accepted requisitions
                                             // bool hasHistory = false;
                    int count = 0;

                    if (Model != null)
                    {
                        foreach (var req in Model)
                        {
                            if (req.PropertyRequisition.IsAccepted.HasValue && !req.PropertyRequisition.IsAccepted.Value)
                            {
                                count++;
                                notAcceptedCount++;
                                //display header only once
                                if (count < 2)
                                {
                                    <div class="rTableHeading">
                                        <div class="rTableRow">
                                            <div class="rTableHead"></div>
                                            <div class="rTableHead">Property Image</div>
                                            <div class="rTableHead">Name</div>

                                            <div class="rTableHead">Email</div>

                                            <div class="rTableHead">Cell</div>
                                            <div class="rTableHead">Date</div>
                                            <div class="rTableHead"></div>
                                        </div>
                                    </div>
                                    <input id="isUserPropOwner" type="hidden" value="@Html.Raw(req.isUserPropOwner)" />

                                }
                                <div class="rTableRow">
                                    <div class="rTableCell" style="font-size:12px;">@count</div>
                                    <div class="rTableCell">
                                        <a href="~/properties/getproperty/@req.PropertyRequisition.PropertyID">
                                            <img style="width:100px;height:100px;" src="~/Uploads/@req.ImageUrl" />
                                        </a>
                                    </div>
                                    <div class="rTableCell first_name"> @req.PropertyRequisition.User.FirstName &nbsp; @req.PropertyRequisition.User.LastName</div>
                                    <div class="rTableCell email">
                                        @if (req.isUserPropOwner)
                                        {
                                            @(req.PropertyRequisition.User.Email);
                                        }
                                    </div>
                                    <div class="rTableCell cell"> @req.PropertyRequisition.User.CellNum</div>
                                    <div class="rTableCell date"> @req.PropertyRequisition.DateTCreated.ToShortDateString()</div>
                                    @if (req.isUserPropOwner)
                                    {
                                        <div class="rTableCell">
                                            <div style="display:inline-flex;">
                                                <input style="margin-right:3px;" id="@req.PropertyRequisition.ID" class="btnAcceptRequest btn btn-outline-primary btn-sm" type="button" value="Accept">
                                                <input id="@req.PropertyRequisition.ID" class="btnDenyRequest btn btn-outline-danger btn-sm" type="button" value="Deny">
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="rTableCell">
                                            <div style="display:inline-flex;">
                                                <em style="margin-right:3px;">Awaiting response ...</em>
                                                <input id="@req.PropertyRequisition.ID" class="btnDenyRequest btn btn-outline-danger btn-sm" type="button" value="Cancel">
                                            </div>
                                        </div>
                                    }
                                </div>
                                if (req.PropertyRequisition.Msg != null)
                                {
                                    @*
                                        <div class="rTableRow">
                                            <div class="rTableCell"><div class="reqMsg contact-info-header" style="overflow:auto;">@req.PropertyRequisition.Msg</div></div>
                                        </div>
                                    *@
                                }
                            }
                            else
                            {
                                //hasHistory = true;
                            }
                        }
                        if (Model != null && notAcceptedCount < 1)
                        {
                            <div class="rTableRow"><div class="rTableCell contact-info-content" colspan="8"><center>No Requisition Records Found</center></div></div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<button id="view-req-his-btn" class="btn btn-outline-secondary btn-block">View Requisition History</button>
<div class="requisition-history hide">
    <div class="ctnr-headers">Requisition History</div>
    <div class="card">
        <div class="card-body requisition-history-body">

        </div>
    </div>
</div>