@model SS.Models.ACCOMMODATIONS
<br />
@using (Html.BeginForm("RegistrationAccommodation", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data", id = "fm_room" }))
{
    <fieldset>
        <legend class="legend-headers">Room Information</legend>
        <table class="table-condensed registration-form ">
            <tr>
                <td>Property Street Address</td>
                <td>@Html.TextBoxFor(model => model.STREET_ADDRESS) @Html.ValidationMessageFor(model => model.STREET_ADDRESS)</td>
                <td>Property City</td>
                <td>@Html.TextBoxFor(model => model.CITY) @Html.ValidationMessageFor(model => model.CITY)</td>
                <td>Property Parish</td>
                <td>@Html.DropDownListFor(model => model.PARISH,Model.Parishes,"Select Parish") @Html.ValidationMessageFor(model => model.PARISH)</td>
            </tr>
            <tr>
                <td>Rent Cost</td>
                <td>@Html.TextBoxFor(model => model.PRICE, new { @type = "number" }) @Html.ValidationMessageFor(model => model.PRICE)</td>
                <td>Security Deposit Cost</td>
                <td>@Html.TextBoxFor(model => model.SECURITY_DEPOSIT, new { @type = "number" }) @Html.ValidationMessageFor(model => model.SECURITY_DEPOSIT)</td>
                <td>Room Occupancy</td>
                <td>@Html.TextBoxFor(model => model.OCCUPANCY, new { @type = "number" }) @Html.ValidationMessageFor(model => model.OCCUPANCY)</td>
            </tr>
            <tr>
                <td>Personal bathroom amount</td>
                <td>@Html.TextBoxFor(model => model.HOUSE_BATHROOM_AMOUNT, new { @type = "number" }) @Html.ValidationMessageFor(model => model.HOUSE_BATHROOM_AMOUNT)</td>
                <td>Gender Preference</td>
                <td>
                    @Html.RadioButtonFor(model => model.GENDER_PREFERENCE, "Both") Both
                    @Html.RadioButtonFor(model => model.GENDER_PREFERENCE, "Male") Male
                    @Html.RadioButtonFor(model => model.GENDER_PREFERENCE, "Female") Female
                    @Html.ValidationMessageFor(model => model.GENDER_PREFERENCE)
                </td>
            </tr>
            <tr>
                <td>Student Room ?</td>
                <td>
                    @Html.RadioButtonFor(model => model.IS_STUDENT_ACC, true) Yes
                    @Html.RadioButtonFor(model => model.IS_STUDENT_ACC, false) No
                    @Html.ValidationMessageFor(model => model.IS_STUDENT_ACC)
                </td>
                <td>Rent Covers</td>
                <td colspan="3">
                    @Html.CheckBoxFor(model => model.WATER)Water
                    @Html.CheckBoxFor(model => model.ELECTRICITY)Electricity
                    @Html.CheckBoxFor(model => model.CABLE)Cable
                    @Html.CheckBoxFor(model => model.GAS)Gas
                    @Html.CheckBoxFor(model => model.INTERNET)Internet
                </td>
            </tr>
            <tr>
                <td>Room Description</td>
                <td colspan="2">@Html.TextAreaFor(model => model.DESCRIPTION, 5, 40, null) @Html.ValidationMessageFor(model => model.DESCRIPTION)</td>
            </tr>
            <tr>
                <td>Upload Room Image</td>
                <td colspan="2"><input id="flPropertyPic" name="flPropertyPic" type="file" /></td>
                <td>
                    <button type="button" data-toggle="popover" title="Room Image" data-content="Upload an image of your room so that interested persons can view the property">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                </td>
            </tr>
        </table>
    </fieldset>
}
<script type="text/javascript">
    $(function () {
        //initialization of bootstrap popover
        $('[data-toggle="popover"]').popover({trigger : 'hover click'});
    });
</script>