@{
    ViewBag.Title = "JProps - Dashboard";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

@section pageScript
{

    (function(){
    $('#dashboard').attr('class','active');
    })();
}
@using SS.Code

<div id="modal-displays">
    @Html.Partial("_ModelManagement")
    @Html.Partial("_ModalPropertyAdvertised")
    @Html.Partial("_ModalCreateNewMessage")
</div>
@{
    if (TempData["PropertyUpdated"] != null && (bool)TempData["PropertyUpdated"])
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert-success temp-alert">
                    Property Updated Successfully
                </div>
            </div>
        </div>
        <br />
    }
}

<div class="dashboard">
    <div class="row">
        <div class="col-md-2">
            <div class="management-action">
                @if (ViewBag.isUserPropOwner != null && ViewBag.isUserPropOwner)
                {
                    <a href="properties" class="action active">
                        <div class="img-circle img-circle-sm" id="owned-properties">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="management-action-title">Properties</div>
                    </a>
                }
                else
                {
                    <a href="saved-properties" class="action active">
                        <div class="img-circle img-circle-sm" id="saved-properties">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="management-action-title">Liked Properties</div>
                    </a>
                }
                <a href="messages" class="action">
                    <div class="img-circle img-circle-sm" id="messages">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="management-action-title">Messages</div>
                </a>
                <a href="requisitions" class="action">
                    <div class="img-circle img-circle-sm" id="requisitions">
                        <i class="fa fa-hand-paper-o"></i>
                    </div>
                    <div class="management-action-title">Requisitions</div>
                </a>
                <!--
                <a href="meetings" class="action">
                    <div class="img-circle img-circle-sm" id="meetings">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <div class="management-action-title">Meetings</div>
                </a>
                
                <a href="complaints" class="action">
                    <div class="img-circle img-circle-sm" id="complaints">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <div class="management-action-title">complaints</div>
                </a>
                <a href="bills" class="action">
                    <div class="img-circle img-circle-sm" id="bills">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="management-action-title">bills</div>
                </a>
                    -->
                @*
                    @if (ViewBag.isUserPropOwner != null && ViewBag.isUserPropOwner)
                    {
                        <a href="tennants" class="action">
                            <div class="img-circle img-circle-sm" id="tennants">
                                <i class="fa  fa-users"></i>
                            </div>
                            <div class="management-action-title">tennants</div>
                        </a>
                    }
                *@
            </div>
        </div>
        <div class="col-md-10">
            <br />
            <div class="management-main-content">
                @if (ViewBag.isUserPropOwner != null && ViewBag.isUserPropOwner)
                {
                    @Html.Partial("_partialPropertiesOwned")
                }
                else
                {
                    @Html.Partial("_partialPropertiesSaved")
                }
            </div>
        </div>
    </div>
    <input type="hidden" id="userId" value="@ViewBag.userId" />
</div>