@model SS.ViewModels.AdvertisePropertyViewModel
@{
    ViewBag.Title = "JProps - Advertise your property here ";
    Layout = ViewBag.layout;
}

@section pageScript{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
    setActiveNavigation('home');
    setJumbotRunContent('How To Advertise');
    loadAdvertisePropertySubscriptionPeriod();
    });

    $.getScript('/Scripts/PropertiesScript.js', function(){});

    })();
}
<script type="text/javascript">
    var jumbotrun = document.getElementById('jumbotron-container');
    if (jumbotrun != null && jumbotrun != undefined)
        jumbotrun.remove();
</script>

@Html.Partial("_ModalPropertyAdvertised")


@if (ViewBag.calledByManagement != null && ViewBag.calledByManagement)
{
    <a href="#" onclick="goBack();" class="badge badge-primary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
    <br /><br />
    <input id="calledByManagement" type="hidden" value="true" />
}
<!--TODO Generate all property information from database-->
<div class="ctnr-headers">Advertise Your Property</div>
<div style="display:none;" class="error-container"></div>
<form id="ad-submission" enctype="multipart/form-data" method="post">
    <div class="prop-upload-info" id="1">
        <div class="card-header bg-primary text-white">Section 1 <span style="float:right;">1/3</span></div>
        <br />
        <div class="row">
            <div class="col-md-4" id="property-category">
                <div class="content-heading">Select the property category</div>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Property that provides living accommodations for individuals">
                    <div id="RealEstate" class="clickable-box">Real Estate</div>
                </a>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Land spaces on which can be used to create buildings or farming etc.">
                    <div id="Lot" class="clickable-box">Lot</div>
                </a><!--
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Properties that can be used to reduce manual labour">
                    <div id="Machinery" class="clickable-box">Machinery</div>
                </a>-->
            </div>
            <div class="col-md-4" id="property-purpose">
                <div class="content-heading">Select the purpose of the property</div>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Properties that are used for living purposes">
                    <div id="Residential" class="clickable-box">Residential</div>
                </a>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Properties that are used to generate a profit">
                    <div id="Commercial" class="clickable-box">Commercial</div>
                </a>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Properties that are used for the manufactoring of goods">
                    <div id="Industrial" class="clickable-box">Industrial</div>
                </a>
            </div>
            <div class="col-md-4" id="advertisment-type">
                <div class="content-heading">Select the advertisment type</div>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Properties being sold">
                    <div id="Sale" class="clickable-box">Sale</div>
                </a>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Properties being rented">
                    <div id="Rent" class="clickable-box">Rent</div>
                </a>
                <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Properties being leased">
                    <div id="Lease" class="clickable-box">Lease</div>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4" id="propertytype">
                <div class="content-heading">Select the type of property you want to advertise</div>
                <select disabled class="form-control" id="property-type" name="propertytype" required>
                    <option selected disabled value="na">Property Type</option>
                </select>
            </div>
            <!--Removed
                <div class="col-md-4" id="advertisment-priority">
                    <div class="content-heading">Select the advertisment priority</div>
                    <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Property advertisments will be shown after high priority advertisments are displayed">
                        <div id="Regular" class="clickable-box">Regular - $0 JMD Monthly</div>
                    </a>
                    <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Property advertisments will be given high priority, therefore displaying them first in the result set (Featured List)">
                        <div id="AdPro" class="clickable-box">AdPro - $1000 JMD Monthly</div>
                    </a>
                    <a href="#" class="clickable-box-link" data-toggle="popover" data-content="Property advertisments will be given high priority, therefore displaying them first in the result set (Featured List).
            Properties having this Ad package will also be published on social media networks">
                        <div id="AdPremium" class="clickable-box">AdPremium - $4000 JMD Monthly</div>
                    </a>
                </div>
                    -->
        </div>
        <br />
        <div class="flex-md-wrap" style="float:right;">
            <button type="button" class="btn btn-sm btn-primary next-advertise-section">Next Section <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <br />
    <div class="prop-upload-info hide" id="2">
        <div class="card-header bg-primary text-white">Section 2 <span style="float:right;">2/3</span></div>
        <br />
        <div class="content-heading">Enter your information</div>
        @if (ViewBag.calledByManagement == null)
        {
            <div class="row">
                <div class="col-md-4">
                    <input id="firstname" style="margin-right:10px;" value="" type="text" class="form-control" name="firstname" placeholder="First Name" required>
                </div>
                <br /><br />
                <div class="col-md-4">
                    <input id="lastname" value="" type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                </div>
             <!--   <br /><br />
                <div class="col-md-4">
                    <input id="organization" type="text" class="form-control" name="organization" placeholder="Organization">
                </div> -->
				<div class="col-md-4">
					<div class="form-inline">
						<div class="form-group">
							<label for="cellnum" class="form-control">876</label>
							<input id="cellnum" value="" type="text" class="form-control" name="cellnum" placeholder="Cellphone Number" required>
						</div>
					</div>
                </div>
                <br /><br />
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <input id="email" value="" type="email" class="form-control" name="email" placeholder="Email Address" required>
                </div>
                <br /><br />
                <div class="col-md-4">
                    <input id="password" value="" type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <br /><br />
                <div class="col-md-4">
                    <input id="ConfirmPassword" value="" type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password" required>
                </div>
            </div>
            <br />
        }
  <!--      <div class="row">
            <div class="col-md-6">
                <div class="content-heading">Company Logo</div>
                <input id="organizationLogo" accept="image/*" name="organizationLogo" type="file" class="form-control" />
            </div>
        </div> -->
        <br />
        <div class="flex-md-wrap" style="float:right;">
            <button type="button" class="btn btn-sm btn-primary previous-advertise-section"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous Section</button>
            <button type="button" class="btn btn-sm btn-primary next-advertise-section">Next Section <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <br />
    <div class="prop-upload-info hide" id="3">
        <div class="card-header bg-primary text-white">Section 3 <span style="float:right;">3/3</span></div>
        <br />
        <div class="content-heading">Enter your property's information</div>
        <div class="row">
            <div class="col-md-12 prop-upload-advertiser-info">
                <input id="title" type="text" class="form-control" name="title" placeholder="Property Title"
                       data-toggle="popover" data-content="This gives your property a name so you can easily identify it by name.">
            </div>
        </div>
        <input id="country" name="country" type="hidden" value="Jamaica" />
        <!--<div class="col-md-12">
            <select class="form-control" id="country" name="country"><option disabled selected value="na">Country</option></select>
        </div>-->
        <br />
        <div class="row">
            <div class="col-md-2">
                <input id="StreetNumber" type="number" class="form-control" name="StreetNumber" placeholder="Street Number">
            </div>
            <br /><br />
            <div class="col-md-5">
                <input id="StreetAddress" value="" onclick="initAutocomplete('StreetAddress');" type="text" class="form-control" name="streetaddress" placeholder="Street Address" data-toggle="popover" data-content="If your address is not visible don't worry just enter the street address" required>
            </div>
            <br /><br />
            <div class="col-md-5">
                <input id="community" onclick="initAutocomplete('community');" value="" type="text" class="form-control" name="community" placeholder="Community" data-toggle="popover" data-content="If your address is not visible don't worry just enter your community address" required>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <select class="form-control" id="division" name="division" required><option selected disabled value="na">Parish</option></select>
            </div>
            <br /><br />
            <div class="col-md-9">
                <input id="nearBy" onclick="initAutocomplete('nearBy');" type="text"
                       class="form-control" name="nearBy" placeholder="Landmark Closest To" data-toggle="popover" data-content="Enter and select the name of an establishment that is close to your property" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <input id="price" value="" type="text" class="form-control" name="price" placeholder="Price" required>
            </div>
            <br /><br />
            <div class="col-md-3">
                <input id="securitydeposit" value="" type="text" class="form-control" name="securitydeposit" placeholder="Security Deposit" required>
            </div>
            <br /><br />
            <div class="col-md-3">
                <input id="occupancy" value="" disabled type="number" class="form-control" name="occupancy" placeholder="Occupancy" required>
            </div>
            <br /><br />
            <div class="col-md-3">
                <select disabled class="form-control" id="GenderPreferenceCode" name="GenderPreferenceCode" required>
                    <option disabled selected value="na">Gender Preference</option>
                    <option value="B">Both</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <br /><br />
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <input id="TotAvailableBathroom" value="" disabled type="number" class="form-control" name="TotAvailableBathroom" placeholder="Total Bathrooms" required>
            </div>
            <br /><br />
            <div class="col-md-3">
                <input id="TotRooms" value="" disabled type="number" class="form-control" name="TotRooms" placeholder="Total Rooms" required>
            </div>
            <br /><br />
            <div class="col-md-3">
                <input id="area" value="" disabled type="number" class="form-control" name="area" placeholder="Area in Acres" required>
            </div>
           <!-- <br /><br />
            <div class="col-md-3">
                <select class="form-control" id="isReviewable" name="isReviewable">
                    <option disabled selected value="na">Allow Reviews</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select> 
            </div> -->
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <textarea id="description" rows="4" class="form-control" name="description" placeholder="Property's Description" required></textarea>
            </div>
        </div>
      <!--  <br />
        <div class="row">
            <div class="col-md-12">
                <textarea id="termsagreement" rows="4" class="form-control" name="termsagreement" placeholder="Terms and Agreement for you property"></textarea>
            </div>
        </div>  -->
        <br />
        <div class="content-heading">Select the tags that best describes your property</div>
        <div id="property-tags" class="row"></div>
        <div class="row">
            @if (ViewBag.calledByManagement == null)
            {
                <div class="col-md-4" id="subscription-type">
                    <div class="content-heading">Select the subscription type</div>
                    @foreach (var subTypes in Model.SubscriptionTypes)
                    {
                        <a href="#" class="clickable-box-link" data-toggle="popover" data-content="@subTypes.Description">
                            <div id="@subTypes.Name" class="clickable-box">@subTypes.Name - $<span class="monthly-cost">@subTypes.MonthlyCost</span> JMD Monthly</div>
                        </a>
                    }
                </div>
                <div class="col-md-4">
                    <div class="content-heading">Subscription Period</div>                    
                    <div class="" data-toggle="popover">
                        <select disabled class="form-control" id="subscription-period" name="subscriptionperiod" required>
                            <option selected disabled value="">Subscription Period</option>
                        </select>
                    </div>
                </div>
            }
            <br />
            <div class="col-md-4">
                <div class="content-heading">Upload images of your property</div>
                <input id="flPropertyPics" accept="image/*" multiple name="flPropertyPics" type="file" class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="flPropertyPicsImageOutput"></div>
            </div>
        </div>
        <br />
        <div class="content-heading">Total payment</div>
        <div class="row shopping-cart-container"></div>
        <br />
        <button type="button" class="btn btn-sm btn-primary previous-advertise-section"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous Section</button>
        <div class="flex-md-wrap" style="float:right;">
            <button type="button" class="btn btn-sm btn-primary" id="AdvertisePropertyBtn">Advertise Property <i class="fa fa-check-square" aria-hidden="true"></i></button>
        </div>
    </div>
    <input id="saCoordinateLat" type="hidden" name="saCoordinateLat" />
    <input id="saCoordinateLng" type="hidden" name="saCoordinateLng" />
    <input id="cCoordinateLat" type="hidden" name="cCoordinateLat" />
    <input id="cCoordinateLng" type="hidden" name="cCoordinateLng" />
    <input id="nearByCoordinateLat" type="hidden" name="nearByCoordinateLat" />
    <input id="nearByCoordinateLng" type="hidden" name="nearByCoordinateLng" />
</form>
