@model IEnumerable<SS.ViewModels.FeaturedProperty>

@foreach (var item in Model)
{
    <div class="col-md-12">
        <div class="image-container">
            <div class="image-link">
                <a href="~/properties/getProperty/@item.ID">
                    <div class="image">
                        <img id="@item.ID" src="~/Uploads/@item.PrimaryImageURL" />
                    </div>
                </a>
            </div>
            <div class="image-information-container">
                <div class="image-information">
                    <div class="image-information-content">
                        <div class="property-type-banner"><a title="Save Property" class="save-property"><i class="fa fa-thumbs-up fa-2x"></i></a>@item.PropertyType.Name | &nbsp; <span style="font-size:16px;"> @String.Format("{0:C}", item.Price) </span></div>
                        <div class="property-address">
                            Located at : <em>@( (!String.IsNullOrEmpty(item.StreetNumber) ? item.StreetNumber + ", " : "") + item.StreetAddress + ", " + item.Division + ", " + item.Country )</em>
                        </div>
                        <div class="property-owner-contact"><span>Contact Owner At @item.OwnerContactNum</span></div>
                        <div class="property-desc">@item.Description</div>
                        <!--<div class="property-ratings-container">
                            @Html.Partial("_PropertyRatings", item)
                            <div class="social-icons">
                                <div><a href=""><img src="~/Content/facebook.svg" /></a></div>
                                <div><a href=""><img src="~/Content/twitter.svg" /></a></div>
                                <div><a href=""><img src="~/Content/google-plus.svg" /></a></div>
                            </div>
                        </div>-->
                    </div>
                    <a  href="~/properties/getProperty/@item.ID" class="view-property-banner" data-toggle="popover" data-content="Click to view details"><i class="fa fa-sign-in fa-2x"></i></a>
                </div>
                @Html.Partial("_PropertyThumbnailInformation", @item)
            </div>
        </div>
        <br />
    </div>
}

