@using SS.ViewModels
@using SS.Core
@model List<FeaturedPropertiesSlideViewModel>

@{
    ViewBag.Title = "EasyFindProperties - Find and Advertise properties within your country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageScript
{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
    setActiveNavigation('home');
    showJumbotrun();
   // setJumbotrunActionBtnText('Search');
    setIsCollapsable(false);

    //initialization of bootstrap popover
    $('[data-toggle="popover"]').popover({
    trigger : 'hover click',
    container: 'body'
    });

    });

    $.getScript('/Scripts/PropertiesScript.js',function(){
        populatePropertyType();
    });
    })();

}
<br />
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ctnr-headers">
                <label><strong>Featured Properties Being Rented</strong></label>
            </div>
        </div>
    </div>
    @{int featuredPropTotImg = 8; }
    <div class="row" id="featured-rental">
        @{
            int rentalCount = 0;
            foreach (var property in Model)
            {
                if (rentalCount <= featuredPropTotImg && property.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Rent))
                {
                    for (int i = 1; i <= 10; i++)
                    {
                        <div class="col-xs-12 col-md-6 image-link" data-toggle="popover" data-content="Click to view details">
                            <a href="~/properties/getProperty/@property.property.ID">
                                <div class="image-container">
                                    <ul>
                                        <li>
                                            <div class="image">
                                                <img id="@property.property.ID" src="~/Uploads/@property.propertyPrimaryImageURL" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image-information-container">
                                                <p class="content-heading"><strong>$ @property.property.Price</strong></p>
                                                <p>@property.property.StreetAddress</p>
                                                <p>@property.property.Division</p>
                                                <p>@property.property.Country</p>
                                                <p>@property.property.Description</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                            <ul class="property-ratings">
                                @if (property.averageRating > 0)
                                {
                                    for (int ratingCount = 1; ratingCount <= property.averageRating; ratingCount++)
                                    {
                                        <li><span class="glyphicon glyphicon-star"></span></li>
                                    }
                                }
                                else
                                {
                                    int maxRating = 5;
                                    for (int ratingCount = 1; ratingCount <= maxRating; ratingCount++)
                                    {
                                        <li><span class="empty glyphicon glyphicon-star-empty"></span></li>
                                    }
                                }
                                <br />
                                <br />
                                <li><a href=""><img src="~/Content/facebook.svg" /></a></li>
                                <li><a href=""><img src="~/Content/twitter.svg" /></a></li>
                                <li><a href=""><img src="~/Content/google-plus.svg" /></a></li>
                            </ul>
                        </div>}
                    rentalCount++;
                }
            }
        }
    </div>
    <div class="row">
        <div class="col-md-offset-8 col-xs-4">
            <a href="#" class="btn btn-block btn-accent" id="btnViewAllRentalEstate">See More <span class="glyphicon glyphicon-eye-open"></span></a>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ctnr-headers">
                <label><strong>Featured Properties Being Sold</strong></label>
            </div>
        </div>
    </div>
    <div class="row" id="featured-sale">
        @{
            int saleCount = 0;
            foreach (var property in Model)
            {
                if (saleCount <= featuredPropTotImg && property.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Sale))
                {
                    <div class="col-xs-6 col-md-3 image-link" data-toggle="popover" data-content="Click to view details">
                        <a href="~/properties/getProperty/@property.property.ID">
                            <div class="image-container">
                                <ul>
                                    <li>
                                        <div class="image">
                                            <img id="@property.property.ID" src="~/Uploads/@property.propertyPrimaryImageURL" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="image-information-container">
                                            <p><strong>$ @property.property.Price</strong></p>
                                            <p>@property.property.Division</p>
                                            <p>@property.property.Country</p>
                                            <p>@property.property.Description</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    rentalCount++;
                }
            }
        }
    </div>
    <div class="row">
        <div class="col-md-offset-8 col-xs-4">
            <a href="#" class="btn btn-block btn-accent" id="btnViewAllRentalEstate">See More <span class="glyphicon glyphicon-eye-open"></span></a>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ctnr-headers">
                <label><strong>Featured Properties Being Leased</strong></label>
            </div>
        </div>
    </div>
    <div class="row" id="featured-lease">
        @{
            int leaseCount = 0;
            foreach (var property in Model)
            {
                if (leaseCount <= featuredPropTotImg && property.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Lease))
                {
                    <div class="col-xs-6 col-md-3 image-link" data-toggle="popover" data-content="Click to view details">
                        <a href="~/properties/getProperty/@property.property.ID">
                            <div class="image-container">
                                <ul>
                                    <li>
                                        <div class="image">
                                            <img id="@property.property.ID" src="~/Uploads/@property.propertyPrimaryImageURL" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="image-information-container">
                                            <p><strong>$ @property.property.Price</strong></p>
                                            <p>@property.property.Division</p>
                                            <p>@property.property.Country</p>
                                            <p>@property.property.Description</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    rentalCount++;
                }
            }
        }
    </div>
    <div class="row">
        <div class="col-md-offset-8 col-xs-4">
            <a href="#" class="btn btn-block btn-accent" id="btnViewAllRentalEstate">See More <span class="glyphicon glyphicon-eye-open"></span></a>
        </div>
    </div>


