@model SS.ViewModels.FeaturedPropertiesSlideViewModel
@using SS.Core
@using SS.Models
@using BotDetect.Web.Mvc
@{
    ViewBag.Title = "EasyFindProperties - " + "Properties being " + Model.property.AdType.Name + " in " + Model.property.Community + ", " + Model.property.Division + ", " + Model.property.Country;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageCss
{
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section pageScriptSrc
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
}

@section pageScript
{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
        setActiveNavigation('home');
        $.getScript('/Scripts/PropertiesScript.js',function(){

        });
    });
    })();
}

<div class="row">
    <div class="col-xs-12">
        <div class="ctnr-headers">
            @{
                String adTypeName = "";
                if (Model.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Rent))
                { adTypeName = "Rented"; }
                else if (Model.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Sale)) { adTypeName = "Sold"; } else { adTypeName = "Leased"; }
            }
            <label><strong>Properties being @adTypeName in @Model.property.Community, @Model.property.Division, @Model.property.Country</strong></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div class="ctnr-info">
                <a href="/" title="Get Directions">
                    <strong>
                        Located at @Model.property.StreetAddress, @Model.property.Community, @Model.property.Division, @Model.property.Country
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </strong>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 image-selected-container">
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="100%">
            @{
                foreach (var propImageUrl in Model.propertyImageURLs)
                {
                    <a href="~/Uploads/" +propImageUrl>
                        <img src="~/Uploads/01f3f419-eb94-4c74-9ae2-27345dd7ec5b.jpg" />
                    </a>
                }

            }
        </div>
    </div>
    <div class="col-xs-6">
        <div class="image-selected-details">
            <ul>
                <li><strong>Price: <span class="content-heading float-right">$@Model.property.Price</span></strong></li>
                <li><strong>Security Deposit: <span class="content-heading float-right">$@Model.property.SecurityDeposit</span></strong></li>
            </ul>
            <ul class="property-ratings">
                @if (Model.averageRating > 0)
                {
                    for (int ratingCount = 1; ratingCount <= Model.averageRating; ratingCount++)
                    {
                        <li><span class="glyphicon glyphicon-star"></span></li>
                    }
                }
                else
                {
                    int maxRating = 5;
                    for (int ratingCount = 1; ratingCount <= maxRating; ratingCount++)
                    {
                        <li><span class="empty glyphicon glyphicon-star-empty"></span></li>
                    }
                }
                <br />
                <br />
                <li><a href=""><img src="~/Content/facebook.svg" /></a></li>
                <li><a href=""><img src="~/Content/twitter.svg" /></a></li>
                <li><a href=""><img src="~/Content/google-plus.svg" /></a></li>
            </ul>
        </div>
        <div class="contact-info-container">
            <div class="contact-info-header"><strong>Owner Information</strong></div>
            <div class="contact-info-content">
                <ul>
                    <li><span class="glyphicon glyphicon-user"></span> <span class="content-info float-right">@Model.owner.FirstName @Model.owner.LastName </span></li>
                    <li><span class="glyphicon glyphicon-phone-alt"></span> <span class="content-info float-right">@Model.owner.CellNum</span></li>
                    <li><button id="request-property-proxy" class="btn btn-block btn-accent">Request Property</button></li>
                </ul>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="image-selected-description">
            <div class="contact-info-header"><strong>Property Description</strong></div>
            <div class="contact-info-content">
                @Model.property.Description this is a beautiful property. this is a beautiful property. this is a beautiful property. this is a beautiful property. this is a beautiful property
            </div>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
        <div class="ctnr-aside"><strong>Property's Key Features</strong></div>
        <div class="contact-info-content">
            @{
                if (Model.property.CategoryCode.Equals(EFPConstants.PropertyCategory.RealEstate))
                {
                    <div><strong>Total Room Amount : <span class="float-right">@Model.property.TotRooms</span></strong></div>
                    <div><strong>Total Bathroom Amount : <span class="float-right">@Model.property.TotAvailableBathroom</span></strong></div>
                    <div><strong>Occupancy : <span class="float-right">@Model.property.Occupancy</span></strong></div>
                    <div><strong>Property Area : <span class="float-right">@Model.property.Area</span></strong></div>
                }
                else if (Model.property.CategoryCode.Equals(EFPConstants.PropertyCategory.Lot))
                {
                    <div><strong>Property Area : <span class="float-right">@Model.property.Area</span></strong></div>
                }
                else
                {
                    <div><strong>Condition : <span class="float-right">@Model.property.PropertyCondition.Name</span></strong></div>
                }
                foreach (var tag in Model.tags)
                {
                    <div><strong>@tag : <span class="float-right">Yes</span></strong></div>
                }
            }
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div id="property-requisition" class="col-xs-7">
        <div class="ctnr-info"><strong>Request Property or Ask a Question</strong></div>
        <div class="contact-info-content">
            @using (Html.BeginForm("RequestProperty", "Properties", FormMethod.Post, new { id = "requestPropertyForm" }))
            {
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <input id="firstName" type="text" class="form-control" name="firstName" placeholder="First Name" required>
                            <span class="input-group-addon glyphicon-color"><i class="glyphicon glyphicon-user"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <input id="lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" required>
                            <span class="input-group-addon glyphicon-color"><i class="glyphicon glyphicon-user"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input id="email" type="text" class="form-control" name="email" placeholder="Email" required>
                            <span class="input-group-addon glyphicon-color"><i class="glyphicon glyphicon-envelope"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input id="cellNum" type="text" class="form-control" name="cellNum" placeholder="Contact Number" required>
                            <span class="input-group-addon glyphicon-color"><i class="glyphicon glyphicon-phone"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea id="msg" rows="5" class="form-control" name="msg" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Contact Purpose :</label> &nbsp;
                        <label class="radio-inline">@Html.RadioButton("contactPurpose", "message", true) Question <i class="glyphicon glyphicon-question-sign glyphicon-color"></i></label>
                        <label class="radio-inline">@Html.RadioButton("contactPurpose", "requisition") Property Requisition <i class="glyphicon glyphicon-registration-mark glyphicon-color"></i></label>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-6">
                        @{
                            MvcCaptcha captcha = new MvcCaptcha("captcha");
                            @Html.Captcha(captcha)
                            <br/>
                            @Html.TextBox("captchaCode")
                        }
                    </div>
                </div>
                @Html.Hidden("PropertyID", Model.property.ID)
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-offset-6 col-xs-5">
                        <button id="requestPropertyBtn" type="submit" class="btn btn-block btn-accent">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>