@using SS.ViewModels
@model List<FeaturedPropertiesSlideViewModel>
@{
    ViewBag.Title = "EasyFindProperties - Get Properties ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageScript
{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
    setActiveNavigation('@ViewBag.activeNavigation');
    showJumbotrun();
    // setJumbotrunActionBtnText('Search');
    setIsCollapsable(false);

    //initialization of bootstrap popover
    $('[data-toggle="popover"]').popover({
    trigger : 'hover click',
    container: 'body'
    });

    });

    $.getScript('/Scripts/PropertiesScript.js',function(){

    if('@ViewBag.activeNavigation' == null || '@ViewBag.activeNavigation' == ''){
    populatePropertyType();
    }
    else{
    populatePropertyTypeByCategoryName('@ViewBag.activeNavigation');
    }
    });
    })();

}

<div class="row" id="properties-container">
    @{
        if (Model != null && Model.Count > 0)
        {
            foreach (var property in Model)
            {
                <div class="col-xs-12 col-md-6 image-link" data-toggle="popover" data-content="Click to view details">
                    <a href="~/properties/getProperty/@property.property.ID">
                        <div class="image-container">
                            <ul>
                                <li>
                                    <div class="image">
                                        <img id="@property.property.ID" src="~/Uploads/@property.propertyPrimaryImageURL" />
                                    </div>
                                </li>
                                <li>
                                    <div class="image-information-container">
                                        <p class="content-heading"><strong>$ @property.property.Price</strong></p>
                                        <p>@property.property.StreetAddress</p>
                                        <p>@property.property.Division</p>
                                        <p>@property.property.Country</p>
                                        <p>@property.property.Description</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                    <ul class="property-ratings">
                        @if (property.averageRating > 0)
                        {
                            for (int ratingCount = 1; ratingCount <= property.averageRating; ratingCount++)
                            {
                                <li><span class="glyphicon glyphicon-star"></span></li>
                            }
                        }
                        else
                        {
                            int maxRating = 5;
                            for (int ratingCount = 1; ratingCount <= maxRating; ratingCount++)
                            {
                                <li><span class="empty glyphicon glyphicon-star-empty"></span></li>
                            }
                        }
                        <br />
                        <br />
                        <li><a href=""><img src="~/Content/facebook.svg" /></a></li>
                        <li><a href=""><img src="~/Content/twitter.svg" /></a></li>
                        <li><a href=""><img src="~/Content/google-plus.svg" /></a></li>
                    </ul>
                </div>
            }
            <input type="hidden" id="currentPageNumber" value="@ViewBag.pageNumber" />
        }
        else
        {
            <center>
                <div class="ctnr-headers">
                    <label><strong>No Results Found</strong></label>
                </div>
            </center>
        }
    }
</div>
<div class="row">&nbsp;</div>
<div class="ctnr-options">
    <center>
        <ul class="pagination pagination-sm">
            @{
                double noOfPages = Math.Ceiling((Convert.ToDouble(Model.Count) / Convert.ToDouble(ViewBag.fetchAmount)));
                for (int itemCount = 1; itemCount <= noOfPages; itemCount++)
                {
                    <li><a class="pageNumber" href="@itemCount">@itemCount</a></li>
                }
            }
        </ul>
    </center>
    <span class="previous-page" style="float: left; display:none;"><a href="previous"><span class="glyphicon glyphicon-chevron-left"></span></a></span>
    <span class="next-page" style="float:right; display:none;"><a href="next"><span class="glyphicon glyphicon-chevron-right"></span></a></span>
    <input type="hidden" id="noOfPages" value="@noOfPages" />
    <input type="hidden" id="pgNo" value="@ViewBag.pageNumber" />
    <input type="hidden" id="queryString" value="@ViewContext.HttpContext.Request.QueryString;" />
</div>

