@model SS.ViewModels.SelectedPropertyViewModel
@using SS.Core
@using SS.Models
@{
    ViewBag.Title = "EasyFindProperties - " + "Properties being " + Model.AdType + " in " + Model.property.Community + ", " + Model.property.Division + ", " + Model.property.Country;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageCss
{
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section pageScriptSrc
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
}

@section pageScript
{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
    setActiveNavigation('home');
    $.getScript('/Scripts/PropertiesScript.js',function(){
    });
    });
    })();
}

@Html.Partial("_ModalPropertyRequisitionSuccess")

<div class="row">
    <div class="col-xs-12">
        <div class="ctnr-headers">
            @{
                String adTypeName = "";
                if (Model.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Rent))
                { adTypeName = "Rented"; }
                else if (Model.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Sale)) { adTypeName = "Sold"; } else { adTypeName = "Leased"; }
            }
            <label><strong>Properties being @adTypeName in @Model.property.Community, @Model.property.Division, @Model.property.Country</strong></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div class="ctnr-info">
                <a href="/" title="Get Directions">
                    <strong>
                        Located at @Model.property.StreetAddress, @Model.property.Community, @Model.property.Division, @Model.property.Country
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </strong>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 image-selected-container">
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="100%" data-height="60%">
            @{
                foreach (var propImageUrl in Model.propertyImageURLs)
                {
                    <a href="~/Uploads/@propImageUrl">
                        <img src="~/Uploads/@propImageUrl" />
                    </a>
                }

            }
        </div>
    </div>
    <div class="col-xs-6">
        <div class="image-selected-details">
            <ul>
                <li><strong>Price: <span class="content-heading float-right">$@Model.property.Price</span></strong></li>
                <li><strong>Security Deposit: <span class="content-heading float-right">$@Model.property.SecurityDeposit</span></strong></li>
            </ul>
            <ul class="property-ratings">
                <a href="#" title="property ratings">
                    @if (Model.averageRating > 0)
                    {
                        for (int ratingCount = 1; ratingCount <= Model.averageRating; ratingCount++)
                        {
                            <li><span class="glyphicon glyphicon-star"></span></li>
                        }
                    }
                    else
                    {
                        int maxRating = 5;
                        for (int ratingCount = 1; ratingCount <= maxRating; ratingCount++)
                        {
                            <li><span class="empty glyphicon glyphicon-star-empty"></span></li>
                        }
                    }
                </a>
                <br />
                <br />
                <li><a href=""><img src="~/Content/facebook.svg" /></a></li>
                <li><a href=""><img src="~/Content/twitter.svg" /></a></li>
                <li><a href=""><img src="~/Content/google-plus.svg" /></a></li>
            </ul>
        </div>
        <div class="contact-info-container">
            <div class="contact-info-header"><strong>Owner Information</strong></div>
            <div class="contact-info-content">
                <ul>
                    <li><span class="glyphicon glyphicon-user"></span> <span class="content-info float-right">@Model.OwnerFirstName @Model.OwnerLastName </span></li>
                    <li><span class="glyphicon glyphicon-phone-alt"></span> <span class="content-info float-right">@Model.OwnerCellNumber</span></li>
                    <li><button id="requestPropertyProxyBtn" class="btn btn-block btn-accent">Request Property</button></li>
                </ul>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="image-selected-description">
            <div class="contact-info-header"><strong>Property Description</strong></div>
            <div class="contact-info-content">
                @Model.property.Description this is a beautiful property. this is a beautiful property. this is a beautiful property. this is a beautiful property. this is a beautiful property
            </div>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
        <div class="ctnr-aside"><strong>Property's Key Features</strong></div>
        <div class="contact-info-content">
            @{
                if (Model.property.CategoryCode.Equals(EFPConstants.PropertyCategory.RealEstate))
                {
                    <div><strong>Total Room Amount : <span class="float-right">@Model.property.TotRooms</span></strong></div>
                    <div><strong>Total Bathroom Amount : <span class="float-right">@Model.property.TotAvailableBathroom</span></strong></div>
                    <div><strong>Occupancy : <span class="float-right">@Model.property.Occupancy</span></strong></div>
                    <div><strong>Property Area : <span class="float-right">@Model.property.Area</span></strong></div>
                }
                else if (Model.property.CategoryCode.Equals(EFPConstants.PropertyCategory.Lot))
                {
                    <div><strong>Property Area : <span class="float-right">@Model.property.Area</span></strong></div>
                }
                else
                {
                    <div><strong>Condition : <span class="float-right">@Model.PropertyCondition</span></strong></div>
                }
                foreach (var tag in Model.tags)
                {
                    <div><strong>@tag : <span class="float-right">Yes</span></strong></div>
                }
            }
        </div>
    </div>
</div>
<hr />
<div class="row">&nbsp;</div>
<div class="row">
    <div id="property-reviews" class="col-xs-12">
        <div class="ctnr-info"><strong>Property Reviews</strong></div>
        @{
            if (Model.propRatings != null && Model.propRatings.Count() > 0)
            {
                foreach (var review in Model.propRatings)
                {
                    <div class="row">&nbsp;</div>
                    for (int i = 1; i < 5; i++)
                    {
                        <div class="row">&nbsp;</div>
                        <ul class="property-ratings">
                            <a href="#" title="@review.Ratings out of 5 stars">
                                @for (int ratingCount = 1; ratingCount <= review.Ratings; ratingCount++)
                                {
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                }
                            </a>
                            <li><span class="ctnr-info" style="font-size:13px;"><em>By @review.CritqueBy</em></span></li>
                            <li><span class="ctnr-info" style="font-size:13px;"><em>On @review.DateTCreated.ToShortDateString()</em></span></li>
                        </ul>
                        <div class="row">&nbsp;</div>
                        <div class="contact-info-container" style="width:100%">
                            <div class="contact-info-content">@review.Comments property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere property has a warming atmosphere</div>
                        </div>
                        <div class="row">&nbsp;</div>
                    }
                    <div class="row">&nbsp;</div>
                }
            }
            else
            {
                <div class="row">&nbsp;</div>
                <div class="contact-info-container" style="width:100%">
                    <center>
                        <div class="contact-info-header ctnr-info">Property has not yet been reviewed</div>
                    </center>
                </div>
            }
        }
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div id="property-requisition" class="col-xs-7">
        @if (Session["userId"] != null)
        {
            <div class="row"><div style="display:none;" class="col-xs-12 error-container"></div></div>
            <div class="ctnr-info"><strong>Request Property or Ask a Question</strong></div>
            <div class="contact-info-content">
                @using (Html.BeginForm("RequestProperty", "Properties", FormMethod.Post, new { id = "requestPropertyForm" }))
                {
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <textarea id="msg" rows="5" class="form-control" name="msg" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Contact Purpose :</label> &nbsp;
                            <label class="radio-inline">@Html.RadioButton("contactPurpose", "message", true) Question <i class="glyphicon glyphicon-question-sign glyphicon-color"></i></label>
                            <label class="radio-inline">@Html.RadioButton("contactPurpose", "requisition") Property Requisition <i class="glyphicon glyphicon-registration-mark glyphicon-color"></i></label>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="mvcCaptcha">
                                @Html.Partial("_PartialMvcCaptcha")
                            </div>
                        </div>
                    </div>
                    @Html.Hidden("PropertyID", Model.property.ID)
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-4 requestPropertySec">
                            <button id="requestPropertyBtn" type="submit" class="btn btn-block btn-accent">Submit</button>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="ctnr-info"><strong><a href="~/accounts/signin">Sign In</a> to Request Property or Ask a Question</strong></div>
        }
    </div>
</div>
