@model SS.ViewModels.FeaturedPropertiesSlideViewModel
@using SS.Core
@{
    ViewBag.Title = "EasyFindProperties - " + "Properties being " + Model.property.AdType.Name + " in " + Model.property.Community + ", " + Model.property.Division + ", " + Model.property.Country;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageCss
{
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
}

@section pageScriptSrc
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
}

@section pageScript
{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
    setActiveNavigation('home');
    });

    $.getScript('/Scripts/PropertiesScript.js',function(){

    });
    })();
}

<div class="row">
    <div class="col-xs-12">
        <div class="ctnr-headers">
            @{
                String adTypeName = "";
                if (Model.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Rent))
                { adTypeName = "Rented"; }
                else if (Model.property.AdTypeCode.Equals(EFPConstants.PropertyAdType.Sale)) { adTypeName = "Sold"; } else { adTypeName = "Leased"; }
            }
            <label><strong>Properties being @adTypeName in @Model.property.Community, @Model.property.Division, @Model.property.Country</strong></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div class="ctnr-info">
                <a href="/" title="Get Directions"><strong>Located at @Model.property.StreetAddress, @Model.property.Community, @Model.property.Division, @Model.property.Country 
                    <span class="glyphicon glyphicon-map-marker"></span></strong></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 image-selected-container">
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="100%">
            <a href="~/Uploads/01f3f419-eb94-4c74-9ae2-27345dd7ec5b.jpg">
                <img src="~/Uploads/01f3f419-eb94-4c74-9ae2-27345dd7ec5b.jpg" />
            </a>
            <a href="~/Uploads/0e61817b-b70f-4361-b828-41c81dba700b.jpg">
                <img src="~/Uploads/0e61817b-b70f-4361-b828-41c81dba700b.jpg" />
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="image-selected-details">
            <ul>
                <li><strong>Price: <span class="content-heading float-right">$@Model.property.Price</span></strong></li>
                <li><strong>Security Deposit: <span class="content-heading float-right">$@Model.property.SecurityDeposit</span></strong></li>
            </ul>
            <ul class="property-ratings">
                @if (Model.averageRating > 0)
            {
                for (int ratingCount = 1; ratingCount <= Model.averageRating; ratingCount++)
                {
                        <li><span class="glyphicon glyphicon-star"></span></li>
                    }
                }
                else
                {
                    int maxRating = 5;
                    for (int ratingCount = 1; ratingCount <= maxRating; ratingCount++)
                    {
                        <li><span class="empty glyphicon glyphicon-star-empty"></span></li>
                    }
                }
                <br />
                <br />
                <li><a href=""><img src="~/Content/facebook.svg" /></a></li>
                <li><a href=""><img src="~/Content/twitter.svg" /></a></li>
                <li><a href=""><img src="~/Content/google-plus.svg" /></a></li>
            </ul>
        </div>
        <div class="contact-info-container">
            <div class="contact-info-header"><strong>Owner Information</strong></div>
            <div class="contact-info-content">
                <ul>
                    <li><span class="glyphicon glyphicon-user"></span> <span class="content-info float-right">@Model.owner.FirstName @Model.owner.LastName </span></li>
                    <li><span class="glyphicon glyphicon-phone-alt"></span> <span class="content-info float-right">@Model.owner.CellNum</span></li>
                    <li><button class="btn btn-block btn-accent">Request Property</button></li>
                </ul>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="image-selected-description">
            <div class="contact-info-header"><strong>Property Description</strong></div>
            <div class="contact-info-content">
                @Model.property.Description this is a beautiful property. this is a beautiful property. this is a beautiful property. this is a beautiful property. this is a beautiful property
            </div>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-xs-6">
        <div class="ctnr-aside"><strong>Property's Key Features</strong></div>
        <div class="contact-info-content">
            <div><strong>Total Room Amount : <span class="float-right">@Model.property.TotRooms</span></strong></div>
            <div><strong>Total Bathroom Amount : <span class="float-right">@Model.property.TotAvailableBathroom</span></strong></div>
            <div><strong>Property Area : <span class="float-right">@Model.property.Area</span></strong></div>
            <div><strong>Occupancy : <span class="float-right">@Model.property.Occupancy</span></strong></div>
        </div>
    </div>
</div>
