@model SS.Models.LAND

@{
    ViewBag.Title = "Lands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageScript{
    (function(){
    $('#lands').attr('class','active');
    })();

    //setting filter properties
    (function(){
    //checks if page was a redirection if it is then reset every cookie

    var href = 'http://' +window.location.host + window.location.pathname;

    if(window.location.href == href){
    $.cookie('queryString','null');
    $.cookie('parishSelection','null');
    $.cookie('costRangeSelection','null');
    $.cookie('filterPurpose','null');
    $.cookie('filterArea','null');
    }

    if($.cookie('parishSelection') != 'null' && $.cookie('parishSelection') !== undefined){
    $( '#'+$.cookie('parishSelection') ).attr('class','active');
    }
    if($.cookie('costRangeSelection') != 'null' && $.cookie('costRangeSelection') !== undefined){
    $( '#'+$.cookie('costRangeSelection') ).attr('class','active');
    }
    if($.cookie('filterPurpose') != 'null' && $.cookie('filterPurpose') !== undefined){
    $('#purpose option[value="'+$.cookie('filterPurpose')+'"]').attr('selected','true');
    }
    if($.cookie('filterArea') != 'null' && $.cookie('filterArea') !== undefined){
    $('#area option[value="'+$.cookie('areaRangeSelection')+'"]').attr('selected','true');
    }

    })();

}

@Html.Partial("_ModelPropertyInformation")

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2">
            <div class="ctnr-info"><label>Land Properties</label></div>
            <div>
                <table class="table-condensed" id="room-properties">
                    <tr>
                        <td>Purpose</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="purpose" class="sort-select-style">
                                <option value="no_filter" selected>No Filter</option>
                                <option value="sale">Purchase</option>
                                <option value="rent">Rent</option>
                                <option value="lease">Lease</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Area</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="area" class="sort-select-style">
                                <option value="no_filter" selected>No Filter</option>
                                <option value="1-10">1 - 10 Acres</option>
                                <option value="11-21">11 - 21 Acres</option>
                                <option value="22-32">22 - 32 Acres</option>
                                <option value="33-43">33 - 43 Acres</option>
                                <option value="gt-43">> 43 Acres</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div>
                <div class="ctnr-info"><label>Cost Range</label></div>
                <div>
                    <ul class="aside-property" id="range-cost">
                        <li><a id="1-1500000" href="">$1.00 - $1,500000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="1600000-2600000" href="">$1,600000.00 - $2,600000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="2700000-3700000" href="">$2,700000.00 - $3,700000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="3800000-4800000" href="">$3,800000.00 - $4,800000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="4900000-5900000" href="">$4,900000.00 - $5,900000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="6000000-7000000" href="">$6,000000.00 - $7,000000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="gt-7000000" href=""> > $7,000000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    </ul>
                </div>
            </div>
            <br />
            <div>
                <div class="ctnr-info"><label>Filter Parishes</label></div>
                <div>
                    <ul class="aside-property" id="filter-room-parish">
                        <li><a id="kingston" href="">Kingston <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="standrew" href="">St. Andrew <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="clarendon" href="">Clarendon <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="portland" href="">Portland <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="westmoreland" href="">Westmoreland <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="hanover" href="">Hanover <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="trelawny" href="">Trelawny <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="manchester" href="">Manchester <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="stthomas" href="">St. Thomas <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="stelizabeth" href="">St. Elizabeth <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="stcatherine" href="">St. Catherine <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="stmary" href="">St. Mary <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="stjames" href="">St. James <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                        <li><a id="stann" href="">St. Ann <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @{
                int count = 0;
                <div class="ctnr-info">
                    <span><span id="totalItemCount">@ViewBag.totalItemsFound</span> LANDS WERE FOUND</span>
                    <span style="float:right">showing <span id="fetchAmount">@ViewBag.fetchAmount properties per page</span></span>
                </div>
                <hr />
                <div id="rooms-content">
                    @if (ViewBag.properties != null && ViewBag.properties.Count != 0)
                    {
                        foreach (var rooms in ViewBag.properties)
                        {
                            <div class="col-md-3 land-load">
                                <a href="@rooms.ID" class="image-link">
                                    <div class="image-container">
                                        <img id="@rooms.ID" class="room-images" src="/Uploads/@rooms.ImageURL">
                                    </div>
                                    <div class="image-information-container">
                                        <table width="100%" class="table-condensed table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>Address</td>
                                                    <td>@rooms.StreetAddress</td>
                                                </tr>
                                                <tr>
                                                    <td>Parish</td>
                                                    <td>@rooms.Parish</td>
                                                </tr>
                                                <tr>
                                                    <td>Price</td>
                                                    <td>@rooms.Price</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </a>
                            </div>
                            count++;
                        }
                    }
                    else
                    {
                        <div class="ctnr">
                            <div class="ctnr-info">No land(s) was found</div>
                        </div>
                    }
                </div>
                <div class="ctnr-options">
                    <center>
                        <ul class="pagination pagination-sm">
                            @{
                                double noOfPages = Math.Ceiling((Convert.ToDouble(ViewBag.totalItemsFound) / Convert.ToDouble(ViewBag.fetchAmount)));
                                <input type="hidden" id="noOfPages" value="@noOfPages" />

                                for (int itemCount = 0; itemCount <= noOfPages; itemCount++)
                                {
                                    <li><a class="pageNumber" href="@itemCount">@itemCount</a></li>
                                }
                            }
                        </ul>
                    </center>
                    <span class="previous-page" style="float: left; display: none;"><a href="previous"><span class="glyphicon glyphicon-chevron-left"></span></a></span>
                    <span class="next-page" style="float:right; display: none;"><a href="next"><span class="glyphicon glyphicon-chevron-right"></span></a></span>
                </div>
                <input type="hidden" id="currentPageNumber" value="@ViewBag.pageNumber" />
            }
        </div>
    </div>
</div>
