@model SS.Models.ACCOMMODATIONS

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageScript{
    (function(){
    $('#rooms').attr('class','active');
    })();

    //checks if page was a redirection if it is then reset every cookie

    var href = 'http://' +window.location.host + window.location.pathname;

    if(window.location.href == href){
    $.cookie('queryString','null');
    $.cookie('parishSelection','null');
    $.cookie('costRangeSelection','null');
    $.cookie('filterGender','null');
    $.cookie('filterOccupancy','null');
    $.cookie('filterBathrooms','null');
    $.cookie('filterIsStudent','null');
    $.cookie('filterHasWater','null');
    $.cookie('filterHasCable','null');
    $.cookie('filterHasElectricity','null');
    $.cookie('filterHasGas','null');
    $.cookie('filterHasInternet','null');
    }

    //setting filter properties
    (function(){
    if($.cookie('parishSelection') != 'null' && $.cookie('parishSelection') !== undefined){
    $( '#'+$.cookie('parishSelection') ).attr('class','active');
    }
    if($.cookie('costRangeSelection') != 'null' && $.cookie('costRangeSelection') !== undefined){
    $( '#'+$.cookie('costRangeSelection') ).attr('class','active');
    }
    if($.cookie('filterGender') != 'null' && $.cookie('filterGender') !== undefined){
    $('#genderPreference option[value="'+$.cookie('filterGender')+'"]').attr('selected','true');
    }
    if($.cookie('filterOccupancy') != 'null' && $.cookie('filterOccupancy') !== undefined){
    $('#occupancy option[value="'+$.cookie('filterOccupancy')+'"]').attr('selected','true');
    }
    if($.cookie('filterBathrooms') != 'null' && $.cookie('filterBathrooms') !== undefined){
    $('#bathroomAmount option[value="'+$.cookie('filterBathrooms')+'"]').attr('selected','true');
    }
    if($.cookie('filterIsStudent') != 'null' && $.cookie('filterIsStudent') !== undefined){
    $('#isStudent').prop('checked','true');
    }
    if($.cookie('filterHasWater') != 'null' && $.cookie('filterHasWater') !== undefined){
    $('#hasWater').prop('checked','true');
    }
    if($.cookie('filterHasCable') != 'null' && $.cookie('filterHasCable') !== undefined){
    $('#hasCable').prop('checked','true');
    }
    if($.cookie('filterHasElectricity') != 'null' && $.cookie('filterHasElectricity') !== undefined){
    $('#hasElectricity').prop('checked','true');
    }
    if($.cookie('filterHasGas') != 'null' && $.cookie('filterHasGas') !== undefined){
    $('#hasGas').prop('checked','true');
    }
    if($.cookie('filterHasInternet') != 'null' && $.cookie('filterHasInternet') !== undefined){
    $('#hasInternet').prop('checked','true');
    }
    })();

}

@Html.Partial("_ModelPropertyInformation")

<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-2">
        <div class="ctnr-aside"><div class="ctnr-info"><label>Room Properties</label></div></div>
        <div class="aside-property">
            <table class="table-condensed" id="room-properties">
                <tr>
                    <td>Gender</td>
                </tr>
                <tr>
                    <td>
                        <select id="genderPreference" class="sort-select-style">
                            <option value="no_filter" selected>No Filter</option>
                            <option value="both">Any Gender</option>
                            <option value="males">Males Only</option>
                            <option value="females">Females Only</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Occupancy</td>
                </tr>
                <tr>
                    <td>
                        <select id="occupancy" class="sort-select-style">
                            <option value="no_filter" selected>No Filter</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Bathrooms</td>
                </tr>
                <tr>
                    <td>
                        <select id="bathroomAmount" class="sort-select-style">
                            <option value="no_filter" selected>No Filter</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td><input type="checkbox" id="isStudent" /></td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td><input type="checkbox" id="hasWater" /></td>
                </tr>
                <tr>
                    <td>Cable</td>
                    <td><input type="checkbox" id="hasCable" /></td>
                </tr>
                <tr>
                    <td>Electricity</td>
                    <td><input type="checkbox" id="hasElectricity" /></td>
                </tr>
                <tr>
                    <td>Gas</td>
                    <td><input type="checkbox" id="hasGas" /></td>
                </tr>
                <tr>
                    <td>Internet</td>
                    <td><input type="checkbox" id="hasInternet" /></td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <div class="ctnr-aside"><div class="ctnr-info"><label>Cost Range</label></div></div>
            <div>
                <ul class="aside-property" id="range-cost">
                    <li><a id="10000-15000" href="">$10,000.00 - $15,000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="16000-20000" href="">$16,000.00 - $20,000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="21000-25000" href="">$21,000.00 - $25,000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="26000-30000" href="">$26,000.00 - $30,000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="31000-35000" href="">$31,000.00 - $35,000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="36000-40000" href="">$36,000.00 - $40,000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="gt-40000" href=""> > $40,000.00 <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                </ul>
            </div>
        </div>
        <br />
        <div>
            <div class="ctnr-aside"><div class="ctnr-info"><label>Filter Parishes</label></div></div>
            <div>
                <ul class="aside-property" id="filter-room-parish">
                    <li><a id="kingston" href="">Kingston <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="standrew" href="">St. Andrew <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="clarendon" href="">Clarendon <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="portland" href="">Portland <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="westmoreland" href="">Westmoreland <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="hanover" href="">Hanover <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="trelawny" href="">Trelawny <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="manchester" href="">Manchester <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="stthomas" href="">St. Thomas <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="stelizabeth" href="">St. Elizabeth <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="stcatherine" href="">St. Catherine <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="stmary" href="">St. Mary <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="stjames" href="">St. James <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                    <li><a id="stann" href="">St. Ann <span class="glyphicon glyphicon-chevron-right glyph-aside-links"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @{
            int count = 0;
            <div class="ctnr-info">
                <span><span id="totalItemCount">@ViewBag.totalItemsFound</span> ROOMS WERE FOUND</span>
                <span style="float:right">showing <span id="fetchAmount">@ViewBag.fetchAmount properties per page</span></span>
            </div>
            <hr />
            <div id="rooms-content">
                @if (ViewBag.properties != null && ViewBag.properties.Count != 0)
                {
                    foreach (var rooms in ViewBag.properties)
                    {
                        <div class="rooms-load">
                            <div class="col-md-3 properties-load">
                                <a href="@rooms.ID" class="image-link">
                                    <div class="image-container">
                                        <img id="@rooms.ID" src="/Uploads/@rooms.ImageURL">
                                    </div>
                                </a>
                                <div class="image-information-container">
                                    <ul>
                                        <li><label> Address: @rooms.StreetAddress </label></li>
                                        <li>Parish: @rooms.Parish</li>
                                        <li>Price: @rooms.Price</li>
                                    </ul>
                                </div>
                                <a href="@rooms.ID" class="btn btn-warning btn-block prop-details-btn">Show Details <span class="caret"></span></a>
                            </div>
                        </div>
                        count++;
                    }
                }
                else
                {
                    <div class="ctnr">
                        <div class="ctnr-info">No room(s) was found</div>
                    </div>
                }
            </div>
            <div class="ctnr-options">
                <center>
                    @{
                        double noOfPages = Math.Ceiling((Convert.ToDouble(ViewBag.totalItemsFound) / Convert.ToDouble(ViewBag.fetchAmount)));
                        <input type="hidden" id="noOfPages" value="@noOfPages" />
                    }
                    <ul class="pagination pagination-sm">
                        @{
                            for (int itemCount = 0; itemCount < noOfPages; itemCount++)
                            {
                                <li><a class="pageNumber" href="@itemCount">@itemCount</a></li>
                            }
                        }
                    </ul>
                </center>
                <span class="previous-page" style="float: left; display: none;"><a href="previous"><span class="glyphicon glyphicon-chevron-left"></span></a></span>
                <span class="next-page" style="float:right; display: none;"><a href="next"><span class="glyphicon glyphicon-chevron-right"></span></a></span>
            </div>
                <input type="hidden" id="currentPageNumber" value="@ViewBag.pageNumber" />
        }
    </div>
</div>
